* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}
body {
  background-color: #8a51fc;
}
.logo_convertor {
  width: 300px;
  margin: 20px auto;
  display: block;
}

main {
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 20px;
  width: 375px;
  padding: 44px 24px 23px;
  margin: 0 auto 40px;
}

label {
  color: #777;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
label b {
  color: #777;

  font-size: 14px;

  font-weight: 700;
}
select,
input {
  border-radius: 4px;
  border: 1px solid #bbb;
  background: #fff;
  padding-left: 18px;
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  appearance: none;
  font-size: 16px;
  font-style: 700;
  color: #555;
  cursor: pointer;
}

button {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background: #772fd3;
  transition: 0.5s ease-in-out;
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  scale: 1.08;
  color: black;
}

section {
  border-radius: 20px;
  border: 1px solid #772fd3;
  padding: 12px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.currency_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.arrow_img {
  margin: 15px 0;
}
.currency {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.currency_value, .currency_value_toconvert {
  color: #555;
  font-weight: 700;
  font-size: 20px;
}
